<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key="FacebookAppId" value="176111239704991"/>
  <add key="FacebookAppSecret" value="fa5e38e5632e78804bddfaad958c0a79"/>
  <add key="GoogleClientId" value="1051451990645-qnepj176srokt6h8031gtdaabirpfout.apps.googleusercontent.com"/>
  <add key="GoogleClientSecret" value="_wnHPtUtm8cpyVqxDWkkiUAy"/>
  <add key="JwtIssuer" value="https://localhost:44385"/>
  <add key="JwtAudience" value="e7170c31083b490cew80e2saa7e35"/>
  <add key="JwtSignKey" value="Y3IxOTFyOUNSOTE5MkNSZWI3aTEwMDJkM2RtaWM4OWgzYjFPN05jMTU0NUZCTlpab29vb2Rxd2Q1NA=="/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>