<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key="FacebookAppId" value="176111239704991"/>
  <add key="FacebookAppSecret" value="fa5e38e5632e78804bddfaad958c0a79"/>
  <add key="GoogleClientId" value="1051451990645-qnepj176srokt6h8031gtdaabirpfout.apps.googleusercontent.com"/>
  <add key="GoogleClientSecret" value="_wnHPtUtm8cpyVqxDWkkiUAy"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>