@using Vidly.Models
@model Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<li>
    <ol>@Model.MembershipType.Name</ol>
    <ol>@Model.Birthdate</ol>
</li>